head
    meta(charset="utf-8")

    title= BASE_TITLE

    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="description", content="#{BASE_DESCRIPTION}")
    meta(name="keywords", content="#{BASE_KEYWORD}")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="mobile-web-app-capable", content="yes")

    meta(property="og:title", content="#{og.title}")
    meta(property="og:site_name", content="#{og.site_name}")
    meta(property="og:description", content="#{og.description}")
    meta(property="og:url", content="#{og.url}")
    meta(property="og:image", content="#{og.image}")
    meta(property="og:type", content="#{og.type}")

    meta(name="mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    meta(name="apple-mobile-web-app-title", content="#{BASE_URL}")
    meta(name="msapplication-TileImage", content="images/touch/ms-touch-icon-144x144-precomposed.png")
    meta(name="msapplication-TileColor", content="#3372DF")

    link(rel="icon", href="assets/img/touch-icon-196x196.png", sizes="192x192")
    link(rel="apple-touch-icon-precomposed", href="apple-touch-icon-precomposed.png")
    link(rel="shortcut icon", href="assets/img/apple-touch-icon.png")

    link(rel="canonical", href="#{BASE_URL}")

    link(rel="stylesheet", href="#{rel_path}assets/css/main.css")

    script(src="#{rel_path}assets/js/lib/modernizr-2.7.1.min.js")
