
//
<!-- build:js #{rel_path}assets/js/app.js -->
script(src='#{rel_path}assets/js/lib/jquery-2.1.1.min.js')
script(src='#{rel_path}assets/js/lib/swfobject.js')
script(src='#{rel_path}assets/js/lib/underscore-min.js')
script(src='#{rel_path}assets/js/dev.js')
//
<!-- endbuild -->

//- script(type="text/template", id="modal-template")
//-     | <div class="modal-inner"></div>